@{ ViewData["Title"] = "Página inicial"; }

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>@Html.ActionLink("Clique aqui", "Index", "Product") para conferir a listagem de produtos</p>
    <p>@Html.ActionLink("Clique aqui", "Index", "Chat") para conferir o nosso chat</p>
    <p>@Html.ActionLink("Clique aqui", "Index", "Log") para conferir o registro de ações</p>
    <p>@Html.ActionLink("Clique aqui", "Index", "Bola") para ver a bola</p>
    <p>@Html.ActionLink("Clique aqui", "Controle", "Bola") para controlar a bola</p>
</div>
